[Unit]
Description=Run CRC clustersetup script
ConditionPathExists=!/var/home/core/.clustersetup_ran
Requires=afterburn.service
After=afterburn.service NetworkManager.service network-online.target
Wants=network-online.target

[Service]
User=core
WorkingDirectory=/var/home/core
Environment="SUDO_PREFIX=sudo"
ExecStartPre=/bin/bash -c 'sudo chcon -t bin_t /usr/local/bin/clustersetup.sh'
# Run clustersetu.sh
ExecStart=/usr/local/bin/clustersetup.sh
# Add file to block service re-run. 
ExecStartPost=/usr/bin/touch /var/home/core/.clustersetup_ran
SELinuxContext=system_u:system_r:unconfined_service_t:s0
Type=oneshot
RemainAfterExit=yes

[Install]
